@model ShadFrame.Models.ApprovalMessages

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApprovalMessages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AMessages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMessages)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApprovalMessagesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
